.Application {
  font-family: sans-serif;
  text-align: center;
}
.taskList{
  list-style-type: none; 
}
.taskButton{
  padding-top: 4px;
  width: 200px;
  margin: 2px;
}
.taskButton:hover{
  cursor: pointer;
}

.emptyButtonConatiner{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 60%;
}
.emptyButton{
  padding: 4px;
  background-color: red;
  box-shadow: 2px;
}
